// Pretty colours
// --

$jan: #fef200;
$feb: #fdb813;
$mar: #f68b1f;
$apr: #f15a23;
$may: #ed1b24;
$jun: #b72468;
$jul: #662e91;
$aug: #524ea2;
$sep: #0071bd;
$oct: #01a89e;
$nov: #3ab54a;
$dec: #cadb2a;

$pgBackground: #eee;
