// cool stuff bro

$defaultStack: "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-face {font-family: 'Roble'; src: url('../fonts/297320_2_0.eot');src: url('../fonts/297320_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/297320_2_0.woff') format('woff'),url('../fonts/297320_2_0.ttf') format('truetype');}
@font-face {font-family: 'RobleThin';src: url('../fonts/297320_F_0.eot');src: url('../fonts/297320_F_0.eot?#iefix') format('embedded-opentype'),url('../fonts/297320_F_0.woff') format('woff'),url('../fonts/297320_F_0.ttf') format('truetype');}
@font-face {font-family: 'RobleMedium'; src: url('../fonts/297320_D_0.eot');src: url('../fonts/297320_D_0.eot?#iefix') format('embedded-opentype'),url('../fonts/297320_D_0.woff') format('woff'),url('../fonts/297320_D_0.ttf') format('truetype');}

@import 'grid';
@import 'colours';
@import 'vendor/odometer-theme-default';


html, body {
  margin: 0;
  background: $pgBackground;
  font: 16px $defaultStack;
  color: #666;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

// Header
// --
.row-header {
  background: #6acce1;
  text-align: center;
  padding: 20px 0 15px 0;
  position: relative;
  z-index: 10;
}
.header-title {
  font-weight: 100;
  font-family: 'Roble';
  font-size: 24px;
  margin: 0;
  color: #b5e6f0;
  text-align: left;
}

// Map
// --
.container-map {
  overflow: hidden;
  min-width: 710px;
}

.map {
  float: left;
  width: 75%;
  height: 512px;
  position: relative;
  box-shadow: 3px 0 0 rgba(0,0,0,.25);
}

.map-loading-overlay {
  background: #fff;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  .ico-loading{
    position: absolute;
    top: 50%; left: 50%;
    margin: -12px 0 0 -12px;
    z-index: 3;
    background-size: 48px 48px;
  }
}

path {
  stroke-width: 1.5;
  stroke-opacity: 0.4;
}
path[class^="date-01"]{ stroke: $jan; }
path[class^="date-02"]{ stroke: $feb; }
path[class^="date-03"]{ stroke: $mar; }
path[class^="date-04"]{ stroke: $apr; }
path[class^="date-05"]{ stroke: $may; }
path[class^="date-06"]{ stroke: $jun; }
path[class^="date-07"]{ stroke: $jul; }
path[class^="date-08"]{ stroke: $aug; }
path[class^="date-09"]{ stroke: $sep; }
path[class^="date-10"]{ stroke: $oct; }
path[class^="date-11"]{ stroke: $nov; }
path[class^="date-12"]{ stroke: $dec; }


// Map date controls
// --
.date-toggles {
  padding: 0;
  margin: 0;
}
.date-toggles li {
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding-right: 3px;
  &:last-child { margin-right: 0; }
  &:hover .date-toggle-label {
    color: #000;
    text-decoration: underline;
  }
}

.bar-col {
  height: 100px;
  position: relative;
}
.bar {
  -webkit-transition:all .2s ease;
  -moz-transition:all .2s ease;
  transition:all .2s ease;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 2px 2px 0 0;
}

.date-toggle-label {
  font: 14px 'Roble', $defaultStack;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  padding: 10px 0 5px 0;
  color: #333;
  border-bottom: solid 3px #fff;
  background: #fff;
  border-radius: 0 0 2px 2px;
}
.date-toggle-distance {
  font: 14px 'Roble', $defaultStack;
  color: #999;
  text-align: center;
  margin: 10px 0 0 0;
}

.month-jan {
  .bar {                 background: $jan; }
  .date-toggle-label { border-color: $jan; }
}
.month-feb {
  .bar {                 background: $feb; }
  .date-toggle-label { border-color: $feb; }
}
.month-mar {
  .bar {                 background: $mar; }
  .date-toggle-label { border-color: $mar; }
}
.month-apr {
  .bar {                 background: $apr; }
  .date-toggle-label { border-color: $apr; }
}
.month-may {
  .bar {                 background: $may; }
  .date-toggle-label { border-color: $may; }
}
.month-jun {
  .bar {                 background: $jun; }
  .date-toggle-label { border-color: $jun; }
}
.month-jul {
  .bar {                 background: $jul; }
  .date-toggle-label { border-color: $jul; }
}
.month-aug {
  .bar {                 background: $aug; }
  .date-toggle-label { border-color: $aug; }
}
.month-sep {
  .bar {                 background: $sep; }
  .date-toggle-label { border-color: $sep; }
}
.month-oct {
  .bar {                 background: $oct; }
  .date-toggle-label { border-color: $oct; }
}
.month-nov {
  .bar {                 background: $nov; }
  .date-toggle-label { border-color: $nov; }
}
.month-dec {
  .bar {                 background: $dec; }
  .date-toggle-label { border-color: $dec; }
}

.date-toggle.is-disabled {
  .bar { background: #ddd; }
  .date-toggle-label { border-bottom-color: #ddd; }
  color: #ccc;
}

// 2013 stats
// --
.row-map {
  background: #222;
}

.block-header {
  font-family: 'Roble', $defaultStack;
  background: #2d2d2d;
  text-align: center;
  color: #666;
  font-weight: 100;
  font-size: 24px;
  padding: 15px 0 6px 0;
  border-bottom: solid 1px #333
}
.box-stat {
  text-align: left;
  padding: $gutter;
  border-bottom: solid 1px #333;
  &:last-child { border: none; }
}
.stat-title {
  font-family: 'Roble', $defaultStack;
  color: #666;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.stat-val {
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  margin: 0;
  @media (max-width: 1020px)  { font-size: 28px; }
  @media (max-width: 875px)  { font-size: 22px; }
}
.stat-val-unit {
  vertical-align: middle;
  display: inline-block;
}


// Sections
// --
.section-header {
  position: relative;
  text-align: center;
  h2 {
    font-family: 'Roble', $defaultStack;
    background: $pgBackground;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 $gutter;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
  }
  &:after {
    content: "\0000";
    border-bottom: solid 1px #ddd;
    display: block;
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 100%;
    z-index: 1;
  }
}

// Icons
// --
.ico {
  display: inline-block;
}
.ico-24 { width: 24px; height: 24px; }
.ico-48 { width: 48px; height: 48px; }
.ico-loading {
  // yes, an SVG. won't work in IE (any version). deal with it.
  background: url(../../images/loading.svg) 0 0 no-repeat;
}


// Error msg
// --
.row-warning {
  color: #444;
  background: #fada58;
  text-align: center;
  display: none;
  .no-svg-support & { display: block; }
  a { color: #444; }
  a:hover { color: #000; }
}


// Races
// --
.row-races {
  margin-top: 60px;
}
.races-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: $gutter 0;
    border-bottom: solid 1px #ddd;
    &:last-child { border: none; }
  }
}
.race-title {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 36px;
  color: #ccc;
  margin: 0;
  letter-spacing: -0.01em;
}


// Utils
// --
.hide { display: none; }
