// cool stuff bro

@import 'grid';
@import 'colours';


html, body {
  margin: 0;
  background: $pgBackground;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
}

h1,h2,h3,h4 { font-family: "halis gr"; }
h1 {
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
}

// Header
// --
.row-header {
  background: #555;
  text-align: center;
}

// Map
// --
.container-map {
  background: #fff;
  padding: 0 $halfGutter;
}

.map {
  width: 100%;
  height: 512px;
  position: relative;
}

.map-loading-overlay {
  background: #fff;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  .ico-loading{
    position: absolute;
    top: 50%; left: 50%;
    margin: -12px 0 0 -12px;
    z-index: 3;
    background-size: 48px 48px;
  }
}

path {
  stroke-width: 2;
  stroke-opacity: 0.33;
}
path[class^="date-01"]{ stroke: $jan; }
path[class^="date-02"]{ stroke: $feb; }
path[class^="date-03"]{ stroke: $mar; }
path[class^="date-04"]{ stroke: $apr; }
path[class^="date-05"]{ stroke: $may; }
path[class^="date-06"]{ stroke: $jun; }
path[class^="date-07"]{ stroke: $jul; }
path[class^="date-08"]{ stroke: $aug; }
path[class^="date-09"]{ stroke: $sep; }
path[class^="date-10"]{ stroke: $oct; }
path[class^="date-11"]{ stroke: $nov; }
path[class^="date-12"]{ stroke: $dec; }

// Map date controls
// --
.date-toggles {
  padding: 0;
  margin: 0;
}
.date-toggles li {
  margin: 0;
  list-style: none;
}
.date-toggle-btn {
  font-size: 12px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  color: #333;
  border-bottom: solid 3px #fff;
  margin-right: 3px;
  background: #fff;
  border-radius: 0 0 2px 2px;
}
.date-toggle-btn:hover{
  background: #fff;
}

.date-toggle-jan { border-color: $jan; }
.date-toggle-feb { border-color: $feb; }
.date-toggle-mar { border-color: $mar; }
.date-toggle-apr { border-color: $apr; }
.date-toggle-may { border-color: $may; }
.date-toggle-jun { border-color: $jun; }
.date-toggle-jul { border-color: $jul; }
.date-toggle-aug { border-color: $aug; }
.date-toggle-sep { border-color: $sep; }
.date-toggle-oct { border-color: $oct; }
.date-toggle-nov { border-color: $nov; }
.date-toggle-dec { border-color: $dec; }

.date-toggle-btn.is-disabled {
  color: #ccc;
  background: #f7f7f7;
  border-bottom-color: #ddd;
}

// Sections
// --
.section-header {
  position: relative;
  text-align: center;
  h2 {
    background: $pgBackground;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 $gutter;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
  }
  &:after {
    content: "\0000";
    border-bottom: solid 1px #ddd;
    display: block;
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 100%;
    z-index: 1;
  }
}

// Icons
// --
.ico {
  display: inline-block;
}
.ico-24 { width: 24px; height: 24px; }
.ico-48 { width: 48px; height: 48px; }
.ico-loading {
  // yes, an SVG. won't work in IE (any version). deal with it.
  background: url(../../images/loading.svg) 0 0 no-repeat;
}


// Error msg
// --
.row-warning {
  color: #444;
  background: #fada58;
  text-align: center;
  display: none;
  .no-svg-support & { display: block; }
  a { color: #444; }
  a:hover { color: #000; }
}
